* {
  box-sizing: border-box;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}
ul {
  list-style: none;
}

main {
  margin: 0;
  padding: 0;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(238 171 156);
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#title {
  font-family: 'Bebas Neue', cursive;
}


/* body{
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "nav"
  "main";

} */

/* body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  padding: 20px;
  overflow-y: scroll;
} */

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin: 20px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.inside-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px 16px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 20px;
}



.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}




@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
