<%- include('../partials/header') %>
<h2>Edit Product:</h2>
<form action="/products/<%= product.id %>?_method=PUT" method='POST'>
  <label>Product Name:
    <input type="text" name="productName">
  </label><br/>
  <label>Product Category:
    <select name="productType">
    <option value="makeup remover">Makeup Remover</option>
    <option value="cleanser">Cleanser</option>
    <option value="toner">Toner</option>
    <option value="exfoliator">Exfoliator</option>
    <option value="moisturizer">Moisturizer</option>
    <option value="sun care">Sun Care</option>
    <option value="eye care">Eye Care</option>
    <option value="treatments and serums">Treatments and Serums</option>
  </select>
  </label>
  <label>Price:
    <input name="price" type="number" min="0">
  </label><br>
  <label>Manufacturer's Description:
    <input name="description" type="text">
  </label><br>
  <button class="submit-button" type= "submit" value="accept changes">Submit Changes</button>
  </form>
<%- include('../partials/footer') %>