<%- include('../partials/header2') %>
<h2>Add a New Product:</h2>
<form action="/products" method='POST'>
  <label>Product Name:
    <input type="text" name="productName">
  </label><br/>
  <label>Product Category:
    <select name="productType">
    <option value="makeup remover">Makeup Remover</option>
    <option value="cleanser">Cleanser</option>
    <option value="toner">Toner</option>
    <option value="exfoliator">Exfoliator</option>
    <option value="moisturizer">Moisturizer</option>
    <option value="sun care">Sun Care</option>
    <option value="eye care">Eye Care</option>
    <option value="treatments and serums">Treatments and Serums</option>
  </select>
  </label>
  <label>Price:
    <input name="price" type="number" step="0.01" min="0">
  </label><br>
  <label>Manufacturer's Description:
    <input name="description" type="text">
  </label><br>
  <input class="addButton" type= "submit" value="Add Product">
  </form>
<%- include('../partials/footer') %>